

.caixa-nome{
    width: 100%;
}

.caixa-email{
    width: 100%;
}

.caixa-msg{
    width: 100%;
}

.contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
}


.contato-texto{
    text-align: justify;
    padding-top: 10%;
    font-size: 1.3em;
}


.form .groups{
    display: inline;
    box-sizing: border-box;
   
}

.form .group{
    width: 80%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

.form .btn-enviar{
    background-color: #2b8bd8;
    color: white;
    font-weight: bold;
    border: solid #2b8bd8;
    margin-left: 10px;
    cursor: pointer;
}

.title{
    font-size: 1.8rem;
    text-align: center;
    color: #2b8bd8;
    padding: 3%;
}

.botoes-plano{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1%;
}

.botao-plano{
    margin-left: 1%;
    padding: 1%;
    box-sizing: border-box;
}

